.header {
    padding: 15px;
    color: rgb(48, 45, 45);
    font-family: sans-serif;
    font-size: 35px;
}

.form {
    padding: 15px;
    
}

.js-input{
    font-size: 22px;
}

.button-search{
    font-size: 22px;
}